* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

body {
  height: 100vh;
  background-color: white;
  overflow: auto;
}

.nav-bar {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.337),
    rgba(255, 166, 0, 0.476)
  );
  padding: 16px;
  border-bottom: 1px solid grey;
  display: inline-block;
  width: 100%;
}

h3 {
  display: inline-block;
}

button {
  float: right;
  padding: 4px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(243, 67, 67, 0.311),
    rgba(255, 214, 138, 0.459)
  );
  margin: 0 10px;
}

.btnS {
  display: flex;
  float: right;
  margin-right: 30px;
}

button > a,
a {
  text-decoration: none;
  padding: 5px;
  color: rgb(41, 41, 41);
}

button:hover {
  box-shadow: 0px 1px 5px black;
  transition: 0.8s ease-in-out;
}

.main-content {
  display: flex;
  width: 90%;
}

h4 {
  margin: 25px 100px;
  font-weight: 700;
  font-size: larger;
}

p {
  margin: 0px 20px 0 100px;
  justify-content: center;
  text-align: justify;
  display: flex;
  width: 700px;
}

img {
  float: left;
  border-radius: 15px;
  min-width: 400px;
  min-height: 300PX;
}

.dropbtn {
  padding: 5px 20px;
  margin: 15px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 50px;
  margin-left: 20px;
  border: 2px solid rgba(0, 0, 0, 0.463);
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
